{% set menu =(
    {'link': 'index.html', 'label': 'Documentation'},
    {'link': 'api.html', 'label': 'Api Reference'},
    {'link': 'licence.html', 'label': 'Licence'},
    {'link': 'https://github.com/ondratu/falias', 'label': 'GitHub'},
    {'link': 'https://github.com/ondratu/falias/issues', 'label': 'Issues'},
) %}
